[user]
	name = Daniel Olasky
	email = daniel@cardash.com
[push]
	default = current
[tag]
  sort = version:refname
[alias]
  sync = !git checkout master && git pull && git checkout @{-1} && git rebase master
  co = checkout
  pending = log origin/master..origin/staging --pretty=format:"%C(yellow)%h%x09%Cred%<(15,trunc)%an%x09%Cblue%ad%x09%Cgreen%<(50,trunc)%s" --date=short
  cleanup = !git branch | grep -v "master" | xargs git branch -D
[pull]
  rebase = preserve
[merge]
  ff = true
[status]
  showUntrackedFiles = all
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

